# Dependencies
node_modules
.pnpm-store

# Production
dist/
build/
web-build/

# Misc
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turborepo
.turbo

# NestJS
apps/backend/dist

# Expo / React Native
.expo/
*.jks
*.keystore
*.pem
android/app/debug.keystore
android/app/build
android/app/src/main/assets/
ios/Pods/
ios/build/
*.ipa
*.apk
*.aab

# Vite / PDV
apps/pdv/dist
apps/pdv/release

# Logs
logs
*.log
